In [8]:
import pandas as pd

In [9]:
data1 = pd.read_csv("data/reformated_data1.csv", index_col=0)
data2 = pd.read_csv("data/reformated_data2.csv", index_col=0)
data3 = pd.read_csv("data/reformated_data3.csv", index_col=0)

In [10]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3336 entries, volkswagen to kia
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   modele        3336 non-null   object
 1   prix          3336 non-null   int64
 2   kilometrage   3336 non-null   int64
 3   annee         3336 non-null   object
 4   localisation  3336 non-null   object
 5   date_ajout    3336 non-null   object
 6   description   2484 non-null   object
 7   carrosserie   3336 non-null   object
 8   energie       3336 non-null   object
 9   puissance     3336 non-null   int64
 10  boite         3336 non-null   object
 11  transmission  3336 non-null   object
 12  couleur       3336 non-null   object
 13  prix_neuve    1955 non-null   float64
dtypes: float64(1), int64(3), object(10)
memory usage: 390.9+ KB

In [11]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 220 entries, Ford to Mercedes
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   modele       220 non-null    object
 1   prix         220 non-null    int64
 2   kilometrage  220 non-null    int64
 3   annee        220 non-null    int64
 4   localisaton  220 non-null    object
 5   cylindree    0 non-null      float64
 6   description  220 non-null    object
 7   carrosserie  0 non-null      float64
 8   energie      220 non-null    object
 9   puissance    220 non-null    object
 10  boite        220 non-null    object
 11  couleur      209 non-null    object
 12  prix_neuve   0 non-null      float64
dtypes: float64(3), int64(3), object(7)
memory usage: 24.1+ KB

In [12]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5881 entries, 0 to 5880
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prix          5876 non-null   float64
 1   localisation  5865 non-null   object
 2   description   5876 non-null   object
 3   kilometrage   5855 non-null   float64
 4   couleur       5855 non-null   object
 5   annee         5855 non-null   object
 6   cylindree     5855 non-null   object
 7   boite         5855 non-null   object
 8   marque        5855 non-null   object
 9   modele        5855 non-null   object
 10  puissance     5855 non-null   float64
 11  carrosserie   5855 non-null   object
 12  energie       5855 non-null   object
dtypes: float64(3), object(10)
memory usage: 643.2+ KB