In [262]:
import pandas as pd
import numpy as np

cars = pd.read_csv("./concatenated_data.csv", index_col=0)
del cars["description"]
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9437 entries, 0 to 5880
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   marque        9411 non-null   object
 1   modele        9411 non-null   object
 2   prix          9432 non-null   float64
 3   kilometrage   9411 non-null   float64
 4   annee         9411 non-null   object
 5   localisation  9421 non-null   object
 6   date_ajout    3336 non-null   object
 7   carrosserie   9191 non-null   object
 8   energie       9411 non-null   object
 9   puissance     9411 non-null   object
 10  boite         9411 non-null   object
 11  couleur       9400 non-null   object
 12  prix_neuve    1955 non-null   float64
 13  cylindree     5855 non-null   object
dtypes: float64(3), object(11)
memory usage: 1.1+ MB

In [263]:
# prix -> abs(prix)

cars["prix"] = abs(cars["prix"])

In [264]:
# If prix is 0 -> prix = nan
prix_is_0 = cars["prix"] == 0
cars.loc[prix_is_0, "prix"] = np.nan

In [265]:
# If prix less than 500 -> prix *= 1000

prix_less_than_1000 = cars["prix"] <= 500
cars.loc[prix_less_than_1000, "prix"] *= 1000

In [266]:
# If prix over 1 000 000 -> prix = nan
prix_over_1000000 = cars["prix"] >= 1000000
cars.loc[prix_over_1000000, "prix"] = np.nan

In [267]:
# kilometrage -> abs(kilometrage)

cars["kilometrage"] = abs(cars["kilometrage"])

In [268]:
# If kilometrage < 10 -> kilometrage = nan

kilometrage_less_than_10 = cars["kilometrage"] < 10
cars.loc[kilometrage_less_than_10, "kilometrage"] = np.nan

In [269]:
# If kilometrage <= 1000 -> kilometrage *= 1000

kilometrage_less_than_1000 = cars["kilometrage"] <= 1000
cars.loc[kilometrage_less_than_1000, "kilometrage"] *= 1000

In [270]:
# If kilometrage >= 1 000 000 -> kilometrage = nan

kilometrage_over_1000000 = cars["kilometrage"] >= 1000000
cars.loc[kilometrage_over_1000000, "kilometrage"] = np.nan

In [271]:
# Applying str.title() to each column

for col in cars.columns:
    if cars[col].dtype == "object":
        cars[col] = cars[col].str.title()

In [272]:
# Exploring the values of "localisation" column

localisation_values = cars["localisation"].unique()
print(localisation_values, len(localisation_values))

['Ariana' 'Tunis' 'Ben Arous' 'Bizerte' 'Monastir' 'Béja' 'La Manouba'
 'Sousse' 'Nabeul' 'Sidi Bouzid' 'Gafsa' 'Kairouan' 'Sfax' 'Mahdia'
 'Tozeur' 'Médenine' 'Kasserine' 'Le Kef' 'Gabès' 'Zaghouan' 'Jendouba'
 'Kébili' 'Siliana' 'Manouba' 'Gabes' 'Tataouine' nan] 27

In [273]:
# Unify and fix the values of the "localisation" column

my_dict = {
    "Béja": "Beja",
    "La Manouba": "Manouba",
    "Gabès": "Gabes",
    "Médenine": "Medenine",
    "Kébili": "Kebili",
}
cars.replace({"localisation": my_dict}, inplace=True)

In [274]:
# Exploring the values of the "couleur" column

localisation_values = cars["couleur"].unique()
print(localisation_values, len(localisation_values))
len(cars[cars["couleur"].isna()])

['Blanc' 'Rouge' 'Noir' 'Gris Shark' 'Beige' 'Bleu' 'Gris Argent'
 'Gris Anthracite' 'Autre' 'Orange' 'Marron' 'Vert' 'Jaune' 'Aubergine'
 'Bleu Roi' 'Gris' 'Bronze' 'Gris Métallisé' 'Gris Foncé' 'Gris Titanuim'
 'Bleu Gris' 'Noire' 'Miel' 'Blanc Cristal' nan 'Bleu/Gris' 'Mauve Gris'
 'Gris Charbon' '*****' 'Blanche' 'Grise' 'Verte' 'Bleu Métallisée'
 'Grise Metalisee' 'Bleu Métallisé' 'Gris Magnetic' 'Gris Clair Métallisé'
 "Feuille D'Argent" 'Maran' 'Grise Métallisée' 'Rouge Bordeaux' 'Camel'
 'Grenadine' 'Titanium' 'Champagne' 'Multicolore' 'Argent' 'Doré' 'Violet'
 'Corail'] 50

37

In [275]:
# Unify and fix the values of the "couleur" column

my_dict = {
    "Blanche": "Blanc",
    "Blanc Cristal": "Blanc",
    "Grise": "Gris",
    "Gris Métallisé": "Gris",
    "Grise Metalisee": "Gris",
    "Grise Métallisée": "Gris",
    "Gris Clair Métallisé": "Gris",
    "Gris Foncé": "Gris",
    "Gris Charbon": "Gris",
    "Gris Magnetic": "Gris",
    "Bleu Gris": "Bleu",
    "Bleu/Gris": "Bleu",
    "Bleu Roi": "Bleu",
    "Bleu Métallisée": "Bleu",
    "Gris Titanium": "Argent",
    "Gris Titanuim": "Argent",
    "Gris Argent": "Argent",
    "Feuille D'Argent": "Argent",
    "Titanium": "Argent",
    "Miel": "Jaune",
    "Champagne": "Jaune",
    "Grenadine": "Rouge",
    "Rouge Bordeaux": "Rouge",
    "Mauve Gris": "Violet",
    "Aubergine": "Violet",
    "Noire": "Noir",
    "Maran": "Marron",
    "Corail": "Orange",
}
cars.replace({"couleur": my_dict}, inplace=True)

In [276]:
# If couleur is "*****" -> couleur = nan

specified_couleur = cars["couleur"] == "*****"
cars[specified_couleur] = np.nan

In [277]:
# Remove month from year in the "annee" column and convert it to float

contains_hyphen = cars["annee"].str.contains("-") & cars["annee"].notna()
cars.loc[contains_hyphen, "annee"] = cars.loc[contains_hyphen, "annee"].apply(
    lambda string: string.split("-")[1]
)
contains_point = cars["annee"].str.contains("[.]") & cars["annee"].notna()
cars.loc[contains_point, "annee"] = cars.loc[contains_point, "annee"].apply(
    lambda string: string.split(".")[-1]
)
cars["annee"] = cars["annee"].astype(np.float64)

In [278]:
# If 10<= annee <= 23 -> annee += 2000, if 60 <= annee -> annee += 1900, else annee = nan

annee_between_0_and_23 = (cars["annee"] >= 10) & (cars["annee"] <= 23)
cars.loc[annee_between_0_and_23, "annee"] += 2000
annee_more_than_60 = (cars["annee"] >= 60) & (cars["annee"] <= 99)
cars.loc[annee_more_than_60, "annee"] += 1900
correct_annee = (cars["annee"] >= 1960) & (cars["annee"] <= 2023)
cars.loc[~correct_annee, "annee"] = np.nan

In [279]:
# Convert N.D to nan in the "puissance" column

puissance_is_ND = cars["puissance"] == "N.D"
cars.loc[puissance_is_ND, "puissance"] = np.nan

In [280]:
# Convert the column "puissance" to float

contains_CV = cars["puissance"].str.contains("C") & cars["puissance"].notna()
cars.loc[contains_CV, "puissance"] = cars.loc[contains_CV, "puissance"].apply(
    lambda string: string.split()[0]
)
cars["puissance"] = cars["puissance"].astype(np.float64)

In [281]:
# If puissance > 200 -> puissance = nan

puissance_over_200 = cars["puissance"] > 200
cars.loc[puissance_over_200, "puissance"] = np.nan

In [282]:
# Convert the column "cylindree" to float

contains_symbol = cars["cylindree"].str.contains("[><]") & cars["cylindree"].notna()
cars.loc[contains_symbol, "cylindree"] = cars.loc[contains_symbol, "cylindree"].apply(
    lambda string: string[1:]
)
cars.loc[cars["cylindree"].notna(), "cylindree"] = cars.loc[
    cars["cylindree"].notna(), "cylindree"
].apply(lambda string: string[:-1])
cars["cylindree"] = cars["cylindree"].astype(np.float64)

In [283]:
# Turn "date_ajout" column to datetime

cars["date_ajout"] = pd.to_datetime(cars["date_ajout"])

/tmp/ipykernel_12179/1039345655.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  cars["date_ajout"] = pd.to_datetime(cars["date_ajout"])

In [284]:
# Dropping duplicates

cars.drop_duplicates(inplace=True)

In [285]:
cars.to_csv("./new_clean_data.csv")