In [5]:
import pandas as pd

df = pd.read_csv("data.csv", index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5881 entries, 0 to 5880
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                5876 non-null   object
 1   price                5876 non-null   float64
 2   location             5865 non-null   object
 3   description          5876 non-null   object
 4   link                 5881 non-null   object
 5   Kilométrage          5855 non-null   float64
 6   Couleur du véhicule  5855 non-null   object
 7   Etat du véhicule     5855 non-null   object
 8   Année                5855 non-null   object
 9   Cylindrée            5855 non-null   object
 10  Boite                5855 non-null   object
 11  Marque               5855 non-null   object
 12  Modèle               5855 non-null   object
 13  Puissance fiscale    5855 non-null   float64
 14  Type de carrosserie  5855 non-null   object
 15  Carburant            5855 non-null   object
dtypes: float64(3), object(13)
memory usage: 781.1+ KB

In [6]:
# Transform to new schema:
# 'marque', 'modele', 'prix','kilometrage',"annee","localisaton",'cylindree','description','carrosserie','energie','puissance','boite','couleur', "prix_neuve"
# First rename the columns
df.rename(
    columns={
        "Marque": "marque",
        "Modèle": "modele",
        "price": "prix",
        "Kilométrage": "kilometrage",
        "Année": "annee",
        "location": "localisation",
        "Cylindrée": "cylindree",
        "Type de carrosserie": "carrosserie",
        "Carburant": "energie",
        "Puissance fiscale": "puissance",
        "Boite": "boite",
        "Couleur du véhicule": "couleur",
    },
    inplace=True,
)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5881 entries, 0 to 5880
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             5876 non-null   object
 1   prix              5876 non-null   float64
 2   localisation      5865 non-null   object
 3   description       5876 non-null   object
 4   link              5881 non-null   object
 5   kilometrage       5855 non-null   float64
 6   couleur           5855 non-null   object
 7   Etat du véhicule  5855 non-null   object
 8   annee             5855 non-null   object
 9   cylindree         5855 non-null   object
 10  boite             5855 non-null   object
 11  marque            5855 non-null   object
 12  modele            5855 non-null   object
 13  puissance         5855 non-null   float64
 14  carrosserie       5855 non-null   object
 15  energie           5855 non-null   object
dtypes: float64(3), object(13)
memory usage: 781.1+ KB

In [7]:
df.drop(columns=["title", "link", "Etat du véhicule"], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5881 entries, 0 to 5880
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prix          5876 non-null   float64
 1   localisation  5865 non-null   object
 2   description   5876 non-null   object
 3   kilometrage   5855 non-null   float64
 4   couleur       5855 non-null   object
 5   annee         5855 non-null   object
 6   cylindree     5855 non-null   object
 7   boite         5855 non-null   object
 8   marque        5855 non-null   object
 9   modele        5855 non-null   object
 10  puissance     5855 non-null   float64
 11  carrosserie   5855 non-null   object
 12  energie       5855 non-null   object
dtypes: float64(3), object(10)
memory usage: 643.2+ KB

In [8]:
df.to_csv("reformated_data.csv")